:root{
    --blue-color: #597CA5; 
    --white-color: #FFFFFF; 
    --lightblue-color: #13649E;
    --darkblue-color: #193C65; 
    --red-color: #c11919ac;

}
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #193C65;
    color: #FFFFFF;

}

.image{
    display:flex;
    align-items: center;
    justify-content: center;
    float: inline-start;
}


/*buttons*/
.btn{
    background-color: #597CA5;
    font-family: Old Standard TT;
    padding: 16px 32px;
    border-radius: 0px;
    color:#FFFFFF;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 0.5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 10px;
}




.form-box{
    text-align: center;
    gap: 20px;
    margin-block:50px;

}

input{
    margin-bottom: 5px;
    color: #597CA5;
    border: #193C65;
    margin-top: 20px;

}

.input-box input {
    
    padding: 10px;
    font-size: 14px;
    text-align:left;
   
}

input[type="file"] {
    display: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

.next {
    text-align: right;
    margin-right: 10px;
    margin-top: none;
    margin-bottom: 10px;
   
}

.next .next {
    background-color: #c11919; /* Red background */
    color: white;
    padding: 10px 20px;
    border-radius: 30px; /* Rounded corners */
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition on hover */
}

.next .next:hover {
    background-color: #a10f0f; /* Slightly darker red on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.AttachCOR, .AttachID, .AttachSelfieID, .AttachProfile {
    text-align: center;
    margin-bottom: 20px;
}

.AttachCOR button, .AttachID button, .AttachSelfieID button, .AttachProfile button {
    background-color:  #597CA5; /* Blue background for attach buttons */

}

.AttachCOR button:hover, .AttachID button:hover, .AttachSelfieID button:hover, .AttachProfile button:hover{
    background-color: #597CA5; /* Darker blue on hover */
}

.AttachCOR img, .AttachID img, .AttachSelfieID img, .AttachProfile img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
  
 
}
